<template>
  <div class="content">
    <img
      v-if="url"
      :src="url"
      alt=""
      style="height: 200px; border-radius: 10px;"
    />
    <img
      v-else
      src="../assets/choose-a-file.gif"
      alt=""
      style="height: 200px; border-radius: 20px"
    />
    <br />
    <br />
    <input type="file" id="file" @change="handleFile" />
    <label for="file" style="width: 100px; cursor: pointer"
      ><img
        src="../assets/upload-button.png"
        alt=""
        style="width: 150px; margin-left: -25px"
    /></label>
    <br />
    <br />
    <b-dropdown
      text="Select Resolution"
      variant="default"
      style="border-radius: 10px; background-color: #2dc07e; border-color: rgba(255, 255, 255, 0)"
    >
      <b-dropdown-item
        v-model="imageResolution"
        @click="setResolution('small_', '10x10')"
        style="border-radius: 10px; color: white; border-color: rgba(255, 255, 255, 0); text-align: center"
        >10 x 10</b-dropdown-item
      >
      <b-dropdown-item
        v-model="imageResolution"
        @click="setResolution('medium_', '20x20')"
        style="border-radius: 10px; color: white; border-color: rgba(255, 255, 255, 0); text-align: center"
        >20 x 20</b-dropdown-item
      >
      <b-dropdown-item
        v-model="imageResolution"
        @click="setResolution('big_', '50x50')"
        style="border-radius: 10px; color: white; border-color: rgba(255, 255, 255, 0); text-align: center"
        >50 x 50</b-dropdown-item
      >
    </b-dropdown>
    <br />
    <br />
    <button
      @click="resizingThumbnail()"
      style="height: 37px; width: 165px; border-radius: 10px; color: white; background-color: #f7563a; border-color: rgba(255, 255, 255, 0); box-shadow: 0px 10px 10px rgba(255, 47, 32, 0.205)"
    >
      Generate Thumbnail
    </button>
    <br /><br />
    <p v-if="thumbnail.name">{{ thumbnail.name }}({{ pixel }})</p>
    <p v-else></p>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import alert from '../mixin/alert'
import axios from 'axios'

export default {
  name: 'Content',
  mixins: [alert],
  data() {
    return {
      thumbnail: '',
      url: null,
      URLS: process.env.VUE_APP_API,
      imageResolution: '',
      pixel: ''
    }
  },
  methods: {
    ...mapActions(['resizing']),

    //Handle input file
    handleFile(event) {
      const type = event.target.files[0].type
      const size = event.target.files[0].size
      if (
        type != 'image/jpeg' &&
        type != 'image/png' &&
        type != 'image/jpg' &&
        type != 'image/webp'
      ) {
        this.makeToast(
          'Failed',
          `Type of file must be JPEG, JPG, or PNG !`,
          'danger'
        )
      } else {
        if (size > 8000000) {
          this.makeToast('Failed', `File too large (max 8 MB)`, 'danger')
        } else {
          const file = (this.thumbnail = event.target.files[0])
          this.url = URL.createObjectURL(file)
        }
      }
    },
    setResolution(resolution, pixel) {
      this.imageResolution = resolution
      this.pixel = pixel
    },
    resizingThumbnail() {
      const thumbnail = this.thumbnail
      const data = new FormData()
      data.append('thumbnail', thumbnail)
      if (this.thumbnail === '') {
        this.makeToast(
          'Please upload your thumbnail first!',
          `Failed !`,
          'danger'
        )
      } else {
        if (this.imageResolution === '') {
          this.makeToast(
            'Please select image resolution first!',
            `Failed !`,
            'danger'
          )
        } else {
          //resizing data
          this.resizing(data)
            .then(result => {
              console.log(result)
              this.makeToast(`Success resizing thumbnail`, `Success`, 'success')
            })
            .catch(error => {
              console.log(error)
              this.makeToast(error, `Failed !`, 'danger')
            })

          //handle asynchronous using setTimeout
          //Download data
          setTimeout(() => {
            axios({
              url: `${this.URLS}/${this.imageResolution}${this.thumbnail.name}`,
              method: 'GET',
              responseType: 'blob'
            }).then(response => {
              let fileUrl = window.URL.createObjectURL(
                new Blob([response.data])
              )
              let fileLink = document.createElement('a')
              fileLink.href = fileUrl

              fileLink.setAttribute(
                'download',
                `${this.pixel}${this.thumbnail.name}`
              )
              document.body.appendChild(fileLink)

              fileLink.click()
            })
          }, 2500)
        }
      }
    }
  }
}
</script>

<style>
input[type='file'] {
  display: none;
}

.dropdown .dropdown-menu {
  background-color: #11b919;
  color: aliceblue;
  border-radius: 10px;
  padding: 0;
  width: 165px;
}

.dropdown .dropdown-item {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.dropdown .btn {
  color: aliceblue;
}
</style>
